PORT=
SALT_ROUNDS=

development || production
DEV_ENV=production

# DATABASE
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_URL=

# JWT
JWT_SECRET=

# SMTP (EMAIL SERVICE)
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
RESEND_API_KEY=
RESEND_USER=


# ERRORS CODES
PASSWORD_MISMATCH
INTERNAL_SERVER_ERROR
USER_NOT_FOUND
USER_NOT_SAVED
INVALID_INPUT
CREDENTIAL_ERROR
EMAIL_DUPLICATION_ERROR
AUTH_ERROR
USER_ALREADY_VERIFIED
VALIDATION_EMAIL_ERROR
SESSION_ERROR
AUTH_ERROR
SESSION_EXPIRED
CODE_EXPIRED
CODE_INVALID
